@model IEnumerable<MedicineShop.Models.AdminMassage>

@{
    ViewBag.Title = "Index";

    if (this.User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else if (this.User.IsInRole("Courier"))
    {
        Layout = "~/Views/Shared/_LayoutCourier.cshtml";
    }
    else if (this.User.IsInRole("DeliveryMan"))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";

    }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CartOrder.OrderShipName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CartOrder.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CartOrder.District)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CartOrder.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CartOrder.PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CartOrder.Email)
        </th>
        <th>Send</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CartOrder.OrderShipName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CartOrder.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CartOrder.District)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CartOrder.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CartOrder.PhoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CartOrder.Email)
        </td>
        <td>
            @Html.ActionLink("Send Order", "Send", "CourierMassage", new { id = item.Id,cartid = item.CartOrderId }, null)|

            @Html.ActionLink("Details", "Orderreview", "CartOrders", new { id = item.CartOrderId }, null)|
        

        </td>      
    </tr>
}

</table>
