@model MedicineShop.Models.Product
@{
    ViewBag.Title = "Product";
}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="jumbotron">

            <h3> Add your new Product</h3>

            @using (Html.BeginForm("Add", "Product"))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.ProductName)
                    @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ProductName)
                </div> <div class="form-group">
                    @Html.LabelFor(m => m.Description)
                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Description)
                </div> <div class="form-group">
                    @Html.LabelFor(m => m.Group)
                    @Html.TextBoxFor(m => m.Group, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Group)
                </div> <div class="form-group">
                    @Html.LabelFor(m => m.CompannyName)
                    @Html.TextBoxFor(m => m.CompannyName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CompannyName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Price)
                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Price)
                </div>  <div class="form-group">
                    @Html.LabelFor(m => m.Location)
                    @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Location)
                </div>
                @Html.HiddenFor(m => m.Id)
                <button type="Submit" class="btn btn-primary">Submit</button>
            }
        </div>
    </div>
    @*<div class="col-md-4"></div>*@

</div>

